pandas==2.2.3
numpy==2.0.2
scikit-learn==1.5.2
lightgbm==4.5.0
fastapi==0.115.5
uvicorn==0.32.1
requests==2.32.3
pyarrow==18.1.0
joblib==1.4.2
python-dotenv==1.0.1
scipy==1.14.1
matplotlib==3.9.3
seaborn==0.13.2
python-multipart==0.0.17
